html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: linear-gradient(270deg, hsl(0, 100%, 21%) 0%, hsl(359, 87%, 25%) 10%, hsl(0, 77%, 28%) 15%, hsl(1, 72%, 32%) 20%, hsl(1, 67%, 35%) 24%, hsl(1, 63%, 38%) 28%, hsl(1, 60%, 42%) 32%, hsl(1, 57%, 45%) 36%, hsl(1, 55%, 49%) 39%, hsl(1, 58%, 52%) 43%, hsl(0, 65%, 56%) 46%, hsl(0, 73%, 60%) 50%, hsl(0, 75%, 59%) 54%, hsl(0, 77%, 59%) 58%, hsl(1, 79%, 58%) 61%, hsl(1, 81%, 57%) 65%, hsl(1, 83%, 56%) 70%, hsl(1, 84%, 55%) 74%, hsl(1, 85%, 54%) 78%, hsl(1, 87%, 53%) 83%, hsl(1, 88%, 52%) 88%, hsl(1, 90%, 50%) 94%, hsl(0, 100%, 47%) 100%);
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header {
  background-color: #fab68e;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  padding: 1%;
  width: 100%;
  justify-content: center;
}
header .btnhed {
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  padding: 1%;
}
header .btnmain {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
header .button1 {
  margin: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
header .button1:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  header .button1 {
    padding: 0.25em 0.75em;
  }
}
header .button2 {
  margin: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
header .button2:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  header .button2 {
    padding: 0.25em 0.75em;
  }
}

.bodydiv1 {
  display: flex;
  padding: 3%;
  justify-content: center;
}
.bodydiv1 .textdiv {
  border: 5px #0029ff solid;
  text-align: center;
  box-shadow: 0px 0px 53px 42px rgb(0, 41, 255);
  background-color: black;
}
.bodydiv1 .textdiv .txtdiv {
  box-shadow: inset 0px 0px 33px 10px rgb(0, 41, 255);
  height: 100%;
  color: white;
}
.bodydiv1 .textdiv .pe1 {
  text-shadow: 0px 0px 14px white;
  font-size: 150px;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.bodydiv1 .textdiv .pe2 {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
}

footer {
  background-color: #878787;
  width: 100%;
  height: 100px;
  border-top: 3px solid black;
  display: flex;
  position: static;
  min-height: 11.55vh;
  padding: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
footer .btnfot {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
footer .lwe {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .butons {
  margin-left: 68%;
}
footer .butonsfot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bb .ddiv {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 5px;
}
.bb .ddiv .sdiv {
  display: flex;
  background-color: #f0851a;
  border-top: #ffd30f;
  height: -moz-fit-content;
  height: fit-content;
  width: 69vh;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bb .ddiv .sdiv .tekst {
  height: -moz-fit-content;
  height: fit-content;
}
.bb .ddiv .sdiv .tekst .t1 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.bb .ddiv .sdiv .tekst .t2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}/*# sourceMappingURL=main.css.map */