body {
  background-image: linear-gradient(
    270deg,
    hsl(0deg 100% 21%) 0%,
    hsl(359deg 87% 25%) 10%,
    hsl(360deg 77% 28%) 15%,
    hsl(1deg 72% 32%) 20%,
    hsl(1deg 67% 35%) 24%,
    hsl(1deg 63% 38%) 28%,
    hsl(1deg 60% 42%) 32%,
    hsl(1deg 57% 45%) 36%,
    hsl(1deg 55% 49%) 39%,
    hsl(1deg 58% 52%) 43%,
    hsl(0deg 65% 56%) 46%,
    hsl(0deg 73% 60%) 50%,
    hsl(0deg 75% 59%) 54%,
    hsl(0deg 77% 59%) 58%,
    hsl(1deg 79% 58%) 61%,
    hsl(1deg 81% 57%) 65%,
    hsl(1deg 83% 56%) 70%,
    hsl(1deg 84% 55%) 74%,
    hsl(1deg 85% 54%) 78%,
    hsl(1deg 87% 53%) 83%,
    hsl(1deg 88% 52%) 88%,
    hsl(1deg 90% 50%) 94%,
    hsl(0deg 100% 47%) 100%
  );
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
