.bodydiv1 {
  display: flex;
  padding: 3%;
  justify-content: center;
  .textdiv {
    border: 5px $neoncol solid;
    text-align: center;
    -webkit-box-shadow: 0px 0px 53px 42px rgba(0, 41, 255, 1);
    -moz-box-shadow: 0px 0px 53px 42px rgba(0, 41, 255, 1);
    box-shadow: 0px 0px 53px 42px rgba(0, 41, 255, 1);
    background-color: black;

    .txtdiv {
      -webkit-box-shadow: inset 0px 0px 33px 10px rgba(0, 41, 255, 1);
      -moz-box-shadow: inset 0px 0px 33px 10px rgba(0, 41, 255, 1);
      box-shadow: inset 0px 0px 33px 10px rgba(0, 41, 255, 1);
      height: 100%;
      color: white;
    }
    .pe1 {
      text-shadow: 0px 0px 14px white;
      font-size: 150px;
      font-family: "Changa", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }
    .pe2 {
      font-family: "Radio Canada", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      font-size: 50px;
    }
  }
}
